body {
  background-color: black;
  color: rgb(238, 238, 238);
}

.ReactBubble {
  color: black;
}

@media only screen and (min-width: 800px) {
  .hallway {
    justify-content: space-around;
  }
}

.homePage {
  overflow-x: scroll;
  max-height: 100vh;
  background-color: #522900;
  -ms-overflow-style: none;
}

.homePage::-webkit-scrollbar {
  display: none;
}

.hallway {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.doorContainer {
  overflow: hidden;
  flex-shrink: 0;
}

.upperHallway {
  width: 100%;
  padding-top: 20px;
}

.hallSign {
  width: 100%;
  max-width: 400px;
  margin: auto;
  line-height: 40px;
  min-height: 50px;
  text-align: center;
  background-color: #d3af7c;
  border: 1px solid black;
  font-size: xx-large;
  font-family: "Notable", sans-serif;
  color: #774600;
  letter-spacing: 1px;
}

.shopDoor {
  margin: 20px;
}

.backDoor {
  margin: 20px;
}

.doorFrame {
  width: 300px;
  height: 600px;
  background: black;
  border: 10px #c3721f solid;
  border-radius: 60px;
}

.ajar {
  transform: skew(0deg, 2deg) translate(0px, 6px) scale(1, 1);
  transition: transform 2s;
}

.ajar:hover {
  transform: skew(0deg, 6deg) translate(-2px, 14px) scale(1, 1);
  transition: transform 2s;
}

.door {
  background-color: #c3721f;
  margin: 3px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  position: relative;
  border: 1px solid black;
  border-radius: 45px;
}

.hinge {
  display: inline-block;
  width: 5px;
  height: 30px;
  background: #d3af7d;
  border-radius: 10px;
  border: 1px solid black;
}

.top {
  position: absolute;
  top: 80px;
  left: -4.5px;
}

.middle {
  position: absolute;
  top: calc(50% - 15px);
  left: -4.5px;
}

.bottom {
  position: absolute;
  bottom: 80px;
  left: -4.5px;
}

.sign {
  position: absolute;
  top: 30px;
  left: calc(50% - 50px);
  width: 100px;
  height: 30px;
  background: #d3af7d;
  text-align: center;
  line-height: 30px;
  border: 1px solid black;
  font-family: "Notable", sans-serif;
  color: #774600;
  letter-spacing: 1px;
}

.porthole {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  top: 15%;
  left: calc(50% - 50px);
  background-color: #d3af7d;
  border: 1px solid black;
}

.innerPorthole {
  position: relative;
  border: 1px solid black;
  background: black;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 100px;
  margin-top: 14px;
  margin-left: 14px;
}

.glass {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  border-radius: 100px;
  background: #c2c2cb;
}

.lugnut {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #a18b60;
  border: 1px solid #695a3f;
}

.noon {
  position: absolute;
  top: -11px;
  left: calc(50% - 3px);
}

.two {
  position: absolute;
  top: 7px;
  right: -3px;
}
.four {
  position: absolute;
  bottom: 7px;
  right: -3px;
}
.six {
  position: absolute;
  bottom: -11px;
  left: calc(50% - 3px);
}
.eight {
  position: absolute;
  bottom: 7px;
  left: -3px;
}
.ten {
  position: absolute;
  top: 7px;
  left: -3px;
}

.doorKnobPlate {
  position: absolute;
  right: 20px;
  top: calc(50% - 40px);
  height: 80px;
  width: 20px;
  background: #d3af7d;
  border: 1px solid black;
}

.innerDoorKnob {
  position: relative;
  width: 100%;
  height: 100%;
}

.doorKnob {
  width: 50px;
  height: 10px;
  background: #d3af7d;
  border-radius: 5px;
  top: 20px;
  position: absolute;
  right: 3px;
  border: 1px solid black;
}

.keyhole {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 3px);
  width: 6px;
  height: 10px;
  background: black;
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 2px solid black;
}

.eyes {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 23px;
  left: 10px;
}
.eyes img {
  width: 50px;
}

.passwordForm {
  position: absolute;
  top: 196px;
  left: 30px;
  background: #e4a86c;
  line-height: 30px;
  padding: 8px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.passwordForm button {
  margin-left: 5px;
}

.passwordForm input {
  margin-left: 3px;
  height: 25px;
  font-size: 12px;
  background-color: rgb(238, 238, 238);
}

.subPage {
  background-color: #522900;
  width: 100%;
  min-height: 730px;
  margin: auto;
  margin-top: 30px;
  text-shadow: 2px 2px #00000085;
}
.innerContent {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  padding: 6px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  cursor: pointer;
  background-color: rgb(247, 228, 201);
}

button:hover {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}

.eyeLogo {
  width: 100px;
  position: absolute;
  top: 200px;
  left: 95px;
  fill: #d3af7c4d;
}

.shopEyeLogo {
  width: 300px;
  margin: auto;
  fill: rgb(238, 238, 238);
}

.subPage {
  text-align: center;
}

.subPage h1 {
  clear: both;
}

.subPage .goBack {
  float: left;
}

.subPage .enter {
  font-size: large;
  background-color: #efab64;
}

.subPage .enter:hover {
  background-color: rgb(247, 228, 201);
}
